<style>

.watermark {
  position: absolute; /* Permite o posicionamento da marca d'água */
  top: 20%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta a posição da imagem para que ela fique realmente centralizada */
  opacity: 0.5; /* Ajusta a transparência da marca d'água */
  pointer-events: none; /* Faz com que a imagem não interfira com cliques e outras interações */
}

.watermark img {
  width: 300px; /* Define a largura específica da imagem */
  height: 300px; /* Define a altura específica da imagem */
}


</style>



<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Genesis</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                      <div class="right_col" style="background: rgb(255, 255, 255);" role="main">
                      <div class="watermark">
                        <img src="/images/logo/logo_dpo_ppt_oficial.png" alt="Marca d'água">
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

